<div class="col-sm-3 col-md-2 sidebar bgA">
    <ul class="nav nav-sidebar">
        <li ng-class="{active: path=='/admin/index'}">
        	<a href="#/admin/index">活动概况</a>
        </li>
        <li ng-class="{active: path=='/admin/item'}">
        	<a href="#/admin/activity">活动管理</a>
        </li>
        <li ng-class="{active: path=='/admin/carport/index'}">
        	<a href="#/admin/carport/index">车位管理</a>
        </li>
        <li ng-class="{active: path=='/admin/user/index'}">
        	<a href="#/admin/user/index">客户管理</a>
        </li>
        <li ng-class="{active: path=='/admin/order/index'}">
        	<a href="#/admin/order/index">订单管理</a>
        </li>
    </ul>
</div>