<nav class="navbar navbar-inverse navbar-fixed-top bgA" role="navigation" > <!--  ng-show="isadmin"  -->
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/admin/index">认筹系统 v1.0</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#/admin/index">首页</a></li>
          <li><a href="#">资料</a></li>
          <li><a href="http://www.menma.me" target="_blank">帮助</a></li>
          <li><a href="JavaScript:void(0);" ng-click="logoutadmin()">安全退出</a></li>
        </ul>
      </div>
  </div>
</nav>