<div tabindex="-1" role="dialog" class="modal fade ng-isolate-scope in" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)" modal-window="" index="0" animate="animate" style="z-index: 1050; display: block;">
    <div class="modal-dialog" ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}">
        <form class="form-horizontal" name="userreg" role="form" ng-controller="userreg">
            <div class="modal-content">
            <div class="modal-header ng-scope">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$hide()">×</button>
                <h4>用户添加</h4>
            </div>
            <div class="modal-body modal-body-create-bucket">
        <!-- 面板 -->
        <div class="panel panel-default noborder" >
            <div class="panel-body">
                    <div class="form-group has-feedback" ng-class="{'has-error':userreg.real.$invalid,'has-success':!userreg.real.$invalid}">
                        <label for="real" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-3">
                            <input type="text" ng-model="userAdd.real" class="form-control" id="real" name="real" required placeholder="RealName"  > <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove':userreg.real.$invalid,'glyphicon-ok':!userreg.real.$invalid}"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback"  ng-class="{'has-error':userreg.tel.$invalid,'has-success':!userreg.tel.$invalid}">
                        <label for="tel" class="col-sm-2 control-label">手机电话</label>
                        <div class="col-sm-4">
                            <input type="tel" ng-model="userAdd.tel" class="form-control" id="tel" name="tel" placeholder="Tel" ng-pattern="/^(13[\d]{9}|15[\d]{9}|18[\d]{9}|17(7|8|9|0)[\d]{8}|147[\d]{8})$/"  required >
                            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove':userreg.tel.$invalid,'glyphicon-ok':!userreg.tel.$invalid}"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback"  ng-class="{'has-error':userreg.pw.$invalid,'has-success':!userreg.pw.$invalid}">
                        <label for="pw" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-4">
                            <input type="password" ng-model="userAdd.pw" class="form-control" id="pw" name="pw" placeholder="Password" required ng-minlength="6" ng-maxlength="16">
                            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove':userreg.pw.$invalid,'glyphicon-ok':!userreg.pw.$invalid}"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <!-- <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>超级管理
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">普通管理
                            </label> -->
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" ng-checked="true" id="inlineRadio3">普通用户
                            </label>

                        </div>
                    </div>




            </div>
        </div> <div class="modal-footer">
                <button class="btn btn-sm btn-link"  ng-click="$hide()">取消</button>
                <button class="btn btn-sm btn-normal" ng-click="addUserOk()"  ng-disabled="userreg.$invalid">完成</button>
            </div>
    </div>
   
   </div>
        </form>
        </div>
    </div>
</div>